<div class="row align-center mb-5">
  <div class="col-md-6">
  <a href="/blog/{{id}}">
    <h2>{{name}}</h2>
    <article>
      <p>Funding Needed: {{needed_funding}}</p>
      <p>Created Date: {{created_date}}</p>
      <p>{{description}}</p> 
    </article>
    </a>
  </div>
</div>